@model DoAnWebTuyenDung.Models.JobCategory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center text-white p-3" style="background-color: #28a745;">CHỈNH SỬA DANH MỤC CÔNG VIỆC</h2>

<div class="container mt-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0">Thông Tin Danh Mục</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="control-label col-md-2">Tên danh mục:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên danh mục" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" value="Lưu" class="btn btn-success" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>